@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    background: url(../pics/backWall.jpg) fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
nav {
    background: rgba(36, 39, 226, .8);
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: sandybrown;
    padding: 1rem;
}
nav ul li a:hover {
    background: sandybrown;
    color: seagreen;
    box-shadow: 1 1 seagreen;
}
.navigation li:first-child {
    padding: 1rem;
}
.wrapper {
    max-width: 1200px ;
    margin: 0px auto;
    width: 95%;
}
.intro {
    line-height: 1.7;
    font-size: 1.2rem;
    margin: 5rem 0;
    background: rgba(255, 255, 255, .4);
}
.intro p {
    margin: 1rem;
    text-align: justify;
}
/*.intro img + p {
    color: rosybrown;
} Ez ugyan az mint az ezt egyből követő! :) */
.intro p:first-of-type {
    color: rosybrown;
}
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }
.intro img {
    float: right;
    margin: 0 0 2rem 2rem;
    border-radius: 50%;
}
.intro h1 {
    font-weight: 700;
    font-size: 5rem;
    margin: 1rem 1rem 0 1rem;
}
@media(max-width:800px) {
    /*.intro {
        margin: 2rem 0;
    }*/
    .intro img {
        max-width: 125px;
    }
}
@media(max-width:480px) {
    .intro img {
        float: none;
        margin: 1rem auto;
        display: block;
    }
}
h2 {
    font-size: 3rem;
    font-weight: 300;
    background: rgba(255, 255, 255, .4);
    margin: 0;
    padding: 1rem;
}
.boxWrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
}
.box {
    flex: 1;
    margin: 10px;
    min-width: 300px;
    background: rgba(255, 255, 255, .4);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, .4);
}
.box img {
    max-width: 100%;
}
.boxContent {
    padding: 1.5rem;
    font-size: .9rem;
}
.boxContent h3 {
    margin: 0;
    font-size: 1.2rem;
}
.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background: rgba(255, 255, 0, 0.7);
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    border-radius: 5px;
}

/*Float*/
nav::after {
    content: "";
    clear: both;
    display: table;
}
.hamburgerBtn {
    width: 50px;
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 10px;
    margin: 2px 2px 0 0 ;
    display: none;
}
.hamburgerBtn span {
    display: block;
    height: 4px;
    background: #ff0000;
    margin: 0 0 5px 0;
    border-radius: 2px;
}
.hamburgerBtn span:last-of-type {
    margin: 0;
}
.hamburgerBtn + input[type="checkbox"] {
    display: none;
}
.hamburgerBtn + input[type="checkbox"]:checked ~.navigation li:not(:first-child) {
	display: block
}
@media(max-width: 650px){
    .navigation li:not(:first-child) {
        display: none;
    }
    .navigation li {
        float: none;
        border-top: 1px solid rgba(255, 255, 0, 0.7);
    }
    .navigation a {
        padding: .8rem 1rem;
    }
    .hamburgerBtn {
        display: block;
    }
}
/*ha a nyomtatásnál szeretnénk valamit eltüntetni, pl menü: akkor:*/
@media print {
    nav {
        display: none;
    }
    .intro {
        margin: 0;
    }
    .intro img {
        display: none;
    }
}
/*30:10*/