body {
    background-color: rgb(105, 241, 173);
}

.login-div {
    padding: 15px;
    border: solid 1px gray;
    box-shadow: 0 0 5px rgb(1, 95, 1);
    display: inline-block;
    margin-left: 10px;
}

.login-div input {
    display: block;
    margin-bottom: 7px;
}
.login-div input[type="email"] {
    border: solid 4px blue;
}
.login-div input[name="password"] {
    border: solid 2px rgb(190, 19, 33);
}
.login-div button:hover {
    box-shadow: 2px 2px 3px blue;
}