@font-face {
    font-family: "Skylon";
    src: url(/css/ttf/ArgPriht.ttf);
    font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
html {
    text-transform: none;
    background-image: url("../Pic/Web-Background.png");
    background-size: 100%;
    background-position: top;
}
h1 {
    color: blue;
    font-family: "Skylon", 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    color: seagreen;
    font-family: "Skylon", 'Times New Roman', Times, serif;

}

#Egy {color: red}

.Leiras {
    color: seagreen;
    font-size: larger;
}
.div-1 {
    background-color: rgb(212, 240, 58);
}

.div-2 {
    background-color: turquoise;
}
.span1 {
    font-size: larger;
    text-transform: uppercase;
}
table {
    font-family: 'Dancing Script', cursive;
    color: rgb(200, 19, 216);
    font-size: 16px;
    
}
td {
    border: solid blue;
    box-shadow: 2 2 10 blue;
}
img {
    max-width: 200px;
    box-shadow: 2px 2px 7px blue;
    margin: 10px;
}
img:hover {
    box-shadow: 4px 4px 14px blue;
}
#img-1 {
    position: relative;
    top: 10px;
    left: 15px;
}
#img-logo {
    position: fixed;
    top: 50px;
    right: 20px;
}
ul li:first-child {
    text-decoration-line: underline;
}
ul li:nth-child(2) {
    text-decoration: underline;
    color: blue
}
ul li:nth-child(4) {
    color: blue
}
ul li:nth-child(6) {
    color: blue
}
ul li:nth-child(8) {
    color: blue
}
ul li:nth-child(10) {
    color: blue
}