@font-face {
    font-family: "Skylon";
    src: url(/css/ttf/ArgPriht.ttf);
    font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
html {
    text-transform: lowercase;
}
h1 {
    color: blue;
    font-family: "Skylon", 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;

}
table {
    font-family: 'Dancing Script', cursive;
    color: rgb(200, 19, 216);
    font-size: 16px;
}
img {
    width: 200px;
}