@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background: url(../pics/backWall.jpg) fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1000px ;
    margin: 40px auto;
}
.menu::after {
    content: "";
    clear: both;
    display: table;
}
header {
    background: url('../pics/KamosBanner1000.bmp.png');
    height: 250px;
    color: white;
    font-family: 'Lobster Two', cursive;
    text-shadow: 0 0 10px rgba(3, 66, 24, .5);
    position: relative;
}
nav {
    background-color: rgba(3, 66, 24, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
nav a:hover,
nav li:hover {
    background: lightcoral;
    color: black;
    
}
nav ul {
    list-style: none;
    padding: 0 10px;
    margin: 0px;
}
nav>ul>li {
    float: left;
    padding: 0 3%;
}
/* a nav>ul>li ben a ">" jel azt jelenti,
hogy csak a közvetlenül ott lévő
meghatározásra érvényes. Nem minden
hasonló elemre. */

nav .hasSubbmenu {
    position: relative;
}
nav .Subbmenu {
    position: absolute;
    left: -5px;
    display: none;
}
nav .Subbmenu a {
    background: lightcoral;
    padding: 10px 10px 10px 20px;
}
nav .hasSubbmenu:hover .Subbmenu {
    display: block;
}
main {
    background: rgba(3, 66, 24, .5);
    padding: 5%;
}
h1 {
    margin-top: 0px;
}
main p {
    text-align: justify;
    line-height: 1.5;
}


/* 19:00 */